---
bootstrapDns: 1.1.1.1:53
upstream:
  default:
  - tcp-tls:1dot1dot1dot1.cloudflare-dns.com
  - 1.1.1.1
  - https://cloudflare-dns.com/dns-query
customDNS:
  mapping:
    odin.gavinmogan.com: 172.16.10.2
    odin.dhcp.home: 172.16.10.2
    thor.dhcp.home: 172.16.10.2
    nas.g4v.dev: 172.16.10.10
    books.g4v.dev: 172.16.10.10
    mqtt.int.g4v.dev: 172.16.10.172
    synologynas: 172.16.10.10
    synologynas.dhcp.home: 172.16.10.10
conditional:
  mapping:
    dhcp.home: 172.16.10.1
    10.16.172.in-addr.arpa: 172.16.10.1
    .: 172.16.10.1
prometheus:
  enable: true
  path: /metrics
httpPort: 4000
blocking:
  blackLists:
    easylist:
      - https://easylist.to/easylist/easylist.txt
    ads:
      - https://s3.amazonaws.com/lists.disconnect.me/simple_ad.txt
      - https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
      - https://mirror1.malwaredomains.com/files/justdomains
      - http://sysctl.org/cameleon/hosts
      - https://zeustracker.abuse.ch/blocklist.php?download=domainblocklist
      - https://s3.amazonaws.com/lists.disconnect.me/simple_tracking.txt
      - |
        # inline definition with YAML literal block scalar style
        # hosts format
        # from https://d3ward.github.io/toolz/adblock.html
        ad.doubleclick.net
        afs.googlesyndication.com
        adfstat.yandex.ru
        ads-api.tiktok.com
        ads-api.twitter.com
        ads.pinterest.com
        ads.tiktok.com
        ads.youtube.com
        advertising-api-eu.amazon.com
        analyticsengine.s3.amazonaws.com
        analytics.s3.amazonaws.com
        api-adservices.apple.com
        appmetrica.yandex.ru
        business-api.tiktok.com
        ck.ads.oppomobile.com
        grs.hicloud.com
        log.byteoversea.com
        log.fc.yahoo.com
        m.doubleclick.net
        mediavisor.doubleclick.net
        metrika.yandex.ru
        pagead2.googlesyndication.com
        static.doubleclick.net
        stats.g.doubleclick.net
        udcm.yahoo.com
        udc.yahoo.com
        widgets.pinterest.com
  whiteLists:
    ads:
      - https://raw.githubusercontent.com/anudeepND/whitelist/master/domains/whitelist.txt
      - |
        # inline definition with YAML literal block scalar style
        # hosts format
        app.segment.com
        app.optimizely.com
        api.optimizely.com
        logx.optimizely.com
        cdn.optimizely.com
        analytics.google.com
  clientGroupsBlock:
    default:
      - easylist
      - ads
