---
bootstrapDns: 1.1.1.1:53
upstream:
  default:
  - tcp-tls:1dot1dot1dot1.cloudflare-dns.com
  - 1.1.1.1
  - https://cloudflare-dns.com/dns-query
customDNS:
  mapping:
    odin.gavinmogan.com: 172.16.10.2
    odin.dhcp.home: 172.16.10.2
    pc.g4v.dev: 172.16.10.6
    nas.g4v.dev: 172.16.10.10
    mqtt.int.g4v.dev: 172.16.10.172
    synologynas: 172.16.10.10
    synologynas.dhcp.home: 172.16.10.10
conditional:
  mapping:
    dhcp.home: 172.16.10.1
    10.16.172.in-addr.arpa: 172.16.10.1
    .: 172.16.10.1
prometheus:
  enable: true
  path: /metrics
blocking:
  blackLists:
    ads:
      - https://s3.amazonaws.com/lists.disconnect.me/simple_ad.txt
      - https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
      - https://mirror1.malwaredomains.com/files/justdomains
      - http://sysctl.org/cameleon/hosts
      - https://zeustracker.abuse.ch/blocklist.php?download=domainblocklist
      - https://s3.amazonaws.com/lists.disconnect.me/simple_tracking.txt
      - |
        # inline definition with YAML literal block scalar style
        # hosts format
        someadsdomain.com
  whiteLists:
    ads:
      - https://raw.githubusercontent.com/anudeepND/whitelist/master/domains/whitelist.txt
      - |
        # inline definition with YAML literal block scalar style
        # hosts format
        app.segment.com
        app.optimizely.com
        api.optimizely.com
        logx.optimizely.com
        cdn.optimizely.com
  clientGroupsBlock:
    default:
      - ads
