[Unit]
Description=Jenkins Agent
Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/bin/bash -c '/usr/bin/wget -O "$HOME/agent.jar" {{jenkins_host}}/jnlpJars/agent.jar'
ExecStart=/bin/bash -c '/usr/bin/java -jar "$HOME/agent.jar" -jnlpUrl {{jenkins_host}}/computer/{{inventory_hostname_short}}/jenkins-agent.jnlp -secret {{ jenkins_agent_secret }} -workDir "{{ jenkins_agent_work_dir }}"'
User={{ jenkins_agent_username }}
Group={{ jenkins_agent_group }}
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
