http:
  services:
    octoprint:
      loadBalancer:
        servers:
          - url: "http://octopi.dhcp.home:80"
  middlewares:
    test-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true
    xscheme:
      headers:
        customRequestHeaders:
          X-Scheme: "https"
  routers:
    octoprint:
      rule: Host(`octopi.nas.g4v.dev`)
      tls: {}
      entryPoints:
        - websecure
        - web
      middlewares:
        - test-redirectscheme
        - xscheme
      service: octoprint
    tailscale-syncthings:
      rule: 'Host(`syncthing.{{ tailscale_hostname }}`)'
      tls: {}
      entryPoints:
        - websecure
        - web
      middlewares:
        - test-redirectscheme
        - xscheme
      service: "syncthing@docker"
    books:
      rule: 'Host(`books.g4v.dev`)'
      tls: {}
      entryPoints:
        - websecure
        - web
      middlewares:
        - test-redirectscheme
        - xscheme
      service: "calibre-web@docker"
    logs:
      rule: 'Host(`logs.nas.g4v.dev`)'
      tls: {}
      entryPoints:
        - websecure
        - web
      middlewares:
        - test-redirectscheme
        - xscheme
      service: "dozzle@docker"
    dash:
      rule: 'Host(`dash.nas.g4v.dev`)'
      tls: {}
      entryPoints:
        - websecure
        - web
      middlewares:
        - test-redirectscheme
        - xscheme
      service: "heimdall@docker"
