http:
  routers:
    tailscale-syncthings:
      rule: 'Host(`syncthing.{{ tailscale_hostname }}`)'
      tls: {}
      entryPoints:
        - websecure
      service: "syncthing@docker"
    books:
      rule: 'Host(`books.g4v.dev`)'
      tls: {}
      entryPoints:
        - websecure
      service: "calibre-web@docker"
    logs:
      rule: 'Host(`logs.nas.g4v.dev`)'
      tls: {}
      entryPoints:
        - websecure
      service: "dozzle@docker"
