http:
  middlewares:
    test-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true
    xscheme:
      headers:
        customRequestHeaders:
          X-Scheme: "https"
  routers:
    tailscale-syncthings:
      rule: 'Host(`syncthing.{{ tailscale_hostname }}`)'
      tls: {}
      entryPoints:
        - websecure
    books:
      rule: 'Host(`books.g4v.dev`)'
      tls: {}
      entryPoints:
        - websecure
        - web
      middlewares:
        - test-redirectscheme
        - xscheme
      service: "calibre-web@docker"
    logs:
      rule: 'Host(`logs.nas.g4v.dev`)'
      tls: {}
      entryPoints:
        - websecure
      service: "dozzle@docker"
