global:
  scrape_interval:     1m
  evaluation_interval: 1m

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          group: 'prometheus'
  - job_name: traefik
    metrics_path: /metrics
    static_configs:
    - targets: ['treafik.nas.g4v.dev:8080']
  - job_name: node
    scheme: https
    metrics_path: /metrics
    static_configs:
    - targets: ['node-exporter.nas.g4v.dev']
  - job_name: nut-synology
    scheme: https
    metrics_path: /ups_metrics
    static_configs:
    - targets: ['nut-exporter.nas.g4v.dev']
  - job_name: nut-exporter
    scheme: https
    metrics_path: /metrics
    static_configs:
    - targets: ['nut-exporter.nas.g4v.dev']
  - job_name: blocky
    metrics_path: /metrics
    static_configs:
    - targets:
      - 'thor:4000'
      - 'synologynas:4000'
  - job_name: hass
    scrape_interval: 60s
    metrics_path: /api/prometheus
    authorization:
      credentials: "{{ home_assistant_prometheus_credentials }}"
    static_configs:
        - targets: ['homeassistant.dhcp.home:8123']
{% for service in exportarr_services %}
  - job_name: {{ service.type }}
    scheme: https
    metrics_path: /metrics
    static_configs:
    - targets: ['{{ service.type }}-exportarr.nas.g4v.dev']
      labels:
        meta: exportarr
        exportarr: '{{ service.type }}'
{% endfor %}
